@using Microsoft.AspNetCore.Localization;
@using QassimPrincipality.Application.Services.Lookups.Main.RequestType.Dto;
@using QassimPrincipality.Web.ViewModels.Contact;
@model AddContactVM
@{
    ViewData["Title"] = "Add a new Request";
}
<div class="container-fluid body-content bg-transparent" style="background-image: url('~/../../Images/row.pattern2.png');">



    <div class="modal" id="newItemRejectLink" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">تقديم شكوى</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClosePopup">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="text-align:center;color:#a12d00;font-weight:600;">

                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnChangeMobaileNo" data-dismiss="modal" class="btn btn-success" style="width:40%">تم</button>

                </div>
            </div>
        </div>
    </div>
    <h2>شكوى</h2>
    <style>

        .caption {
            position: absolute;
            top: 20%;
            left: 0;
            width: 100%;
            color: #008055;
            font-size: calc(50% + 0.5vw + 0.5vh);
            font-weight: bold;
        }
    </style>

    <form id="client-form" asp-controller="Contact" asp-action="Create" Method="post">
        <div class="container card NoTransform p-5 d-flex justify-content-center">



            <div class="container ">

                <div class="form-group row">
                    

                    <label class="col-sm-3 col-form-label" asp-for="UserFullName">
                        اسم
                    </label>



                    <div class="col-sm-8">


                        <input type="text" class="form-control col-8 text-box single-line" asp-for="UserFullName">
                        <span asp-validation-for="UserFullName" class="field-validation-valid text-danger"> </span>
                    </div>
                </div>

                <div class="form-group row">
                    

                    <label class="col-sm-3 col-form-label" asp-for="UserEmail">
                        البريد إلكتروني
                    </label>
                    <div class="col-sm-8">

                        <input type="text" class="form-control col-8 text-box single-line" asp-for="UserEmail">
                        <span asp-validation-for="UserEmail" class="field-validation-valid text-danger"> </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="IdentityNumber">
                       رقم الهوية / الإقامة
                    </label>
                    <div class="col-sm-8">

                        <input type="text" class="form-control col-8 text-box single-line" asp-for="IdentityNumber">
                        <span asp-validation-for="IdentityNumber" class="field-validation-valid text-danger"> </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="UserMobile">
                        رقم الجوال
                    </label>
                    <div class="col-sm-8">

                        <input type="text" class="form-control col-8 text-box single-line" asp-for="UserMobile">
                        <span asp-validation-for="UserMobile" class="field-validation-valid text-danger"> </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="ContactTitle">
                        عنوان الشكوى
                    </label>
                    <div class="col-sm-8">

                        <input type="text" class="form-control col-8 text-box single-line" asp-for="ContactTitle">
                        <span asp-validation-for="ContactTitle" class="field-validation-valid text-danger"> </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="Description">
                        >ملخص الشكوى
                    </label>
                    <div class="col-sm-8">

                       @*  <input type="text" class="form-control col-8 text-box single-line" asp-for="Description"> *@
                        <textarea aria-describedby="basic-addon1" autocomplete="off" class="form-control col-8" cols="20" data-val="true" data-val-number="الرجاء ادخل ملخص الشكوى" data-val-required="يجب كتابة التفاصيل" id="Note" maxlength="150" minlength="3" name="Note" asp-for="Description" placeholder="ملخص الشكوى"  rows="4" type="text"></textarea>
                        <span asp-validation-for="Description" class="field-validation-valid text-danger"> </span>
                    </div>
                </div>

                


                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-3 col-form-label">تقييم الخدمة</label>
                    <div class="col-md-6 rating" style="justify-content:flex-end !important">
                        <input type="radio" name="rating" onclick="handleClick(this);" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" onclick="handleClick(this);" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" onclick="handleClick(this);" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" onclick="handleClick(this);" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" onclick="handleClick(this);" value="1" id="1"><label for="1">☆</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">

                        <a class="btn btn-dark-green btn-bg" href="/">الى الخلف</a>
                        <button type="submit" class="btn btn-dark-green text-right">إرسال</button>
                    </div>
                </div>

            </div>

        </div>
    </form>




</div>