footer.footer
    .container
        .footer__content
            .footer__start
                a(href="#").footer__link خريطة الموقع
                a(href="#").footer__link سياسية الخصوصية
                a(href="#").footer__link شروط الاستخدام
            .footer__mid © 2023 إمازة منطقة القصيم جميع الحقوق محفوظة
            .footer__end
                a(href="#").footer__link
                    svg(width="34" height="25")
                        use(xlink:href="./assets/images/svg-icons.svg#linkedin")
                a(href="#").footer__link
                    svg(width="30" height="25")
                        use(xlink:href="./assets/images/svg-icons.svg#whatsapp")
                a(href="#").footer__link
                    svg(width="25" height="25")
                        use(xlink:href="./assets/images/svg-icons.svg#twitter")
                a(href="#").footer__link
                    svg(width="25" height="25")
                        use(xlink:href="./assets/images/svg-icons.svg#youtube")

script(src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.29/skrollr.min.js")
script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js", integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r", crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js", integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+", crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
script(src="../../assets/scripts/scripts.js")