nav.nav-bar
	.nav-bar__item
		span.nav-bar__menu عن الإمارة
	.nav-bar__item
		a.nav-bar__menu(href="#") الخدمات الإلكترونية
	.nav-bar__item
		span.nav-bar__menu المركز الإعلامي
	.nav-bar__item
		span.nav-bar__menu المشاركة المجتمعية