.top-bar
	.container.top-bar__container
		.top-bar__date
			svg(width="24" height="24")
				use(xlink:href="./assets/images/svg-icons.svg#date") 
			| 22 جمادى الثاني 1445 هـ -  4  يناير  2023 م 
		.top-bar__lang 
			a.btn(href=languageLinks)= lang