@using Microsoft.AspNetCore.Localization;
@using QassimPrincipality.Application.Services.Lookups.Main.RequestType.Dto;
@using QassimPrincipality.Web.ViewModels.Request;
@model AddRequestViewModel
@{
    ViewData["Title"] = "Add a new Request";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>إنشاء طلب جديد</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="CinemaLogoPreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div>


                    <!-- Select External Entities-->
                    @if (ViewData["RequestTypes"] != null)
                    {
                        var requestTypes = (List<RequestTypeDto>)ViewData["RequestTypes"];
                        <div class="form-group">
                            <div id="RequestType" class="form-group">
                                <label asp-for="RequestTypeId">
                                    نوع الطلب
                                </label>

                                <select asp-for="RequestTypeId" required asp-items="@(new SelectList(requestTypes, "Id", "NameAr"))"
                                        class="form-control" id="ddlentity">
                                </select>

                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <label asp-for="RequestName" class="control-label">الاسم</label>
                        <input asp-for="RequestName" class="form-control" />
                        <span asp-validation-for="RequestName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">رقم الهاتف</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NafathNumber" class="control-label">رقم الهوية</label>
                        <input asp-for="NafathNumber" class="form-control" />
                        <span asp-validation-for="NafathNumber" class="text-danger"></span>
                    </div>@* 
                    <div class="form-group">
                        <label class="control-label">اسم المستخدم</label>
                        @{
                            string userName = "Guest";
                            if (Context.User != null)
                            {
                                userName = Context.User.Identity.Name;
                            }
                        }
                        <label class="control-label">@userName</label>
                    </div> *@
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label">الصورة الشخصية</label>
                        <input asp-for="Photo" class="form-control" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ListAttachments">مرفقات اخرى</label>
                        <input class="form-control" asp-for="ListAttachments" />
                        <span asp-validation-for="ListAttachments" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            var output = document.getElementById('CinemaLogoPreview');
            output.src = $("#Logo").val();
        })

        $("#Logo").on("change", function () {
            var output = document.getElementById('CinemaLogoPreview');
            output.src = $(this).val();
        })
    </script>
} 

