@using Microsoft.AspNetCore.Localization;
@using QassimPrincipality.Application.Services.Lookups.Main.RequestType.Dto;
@using QassimPrincipality.Web.ViewModels.Request;
@model AddRequestViewModel
@{
    ViewData["Title"] = "Add a new Request";
}
<div class="container">
    <div class="row justify-content-xxl-center">
        <div class="col-xxl-9">
            <div class="page-panel">
                <h3 class="page-title margin-bottom-lg">إنشاء طلب جديد </h3>
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @*  <div class="form-group text-center">
                    <img id="CinemaLogoPreview" class="border-info rounded-circle" style="max-width: 150px" />
                    </div> *@
                    <div class="form">
                        <div class="row">
                            <!-- Select Request Types-->
                            @if (ViewData["RequestTypes"] != null)
                            {
                                var requestTypes = (List<RequestTypeDto>)ViewData["RequestTypes"];
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <div id="RequestType" class="form-group">
                                            <label asp-for="RequestTypeId" class="form-label">
                                                نوع الطلب
                                            </label>

                                            <select asp-for="RequestTypeId" required asp-items="@(new SelectList(requestTypes, "Id", "NameAr"))"
                                                    class="form-control" id="ddlentity">
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label asp-for="RequestName" class="form-label">الاسم</label>
                                    <input asp-for="RequestName" class="form-control" placeholder="الاسم" />
                                    <span asp-validation-for="RequestName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="form-label">رقم الهاتف</label>
                                    <input asp-for="PhoneNumber" class="form-control" placeholder="رقم الهاتف" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label asp-for="NafathNumber" class="form-label">رقم الهوية</label>
                                    <input asp-for="NafathNumber" class="form-control" placeholder="رقم الهوية" />
                                    <span asp-validation-for="NafathNumber" class="text-danger"></span>
                                </div>
                            </div>
                            @*
                            <div class="form-group">
                            <label class="form-label">اسم المستخدم</label>
                            @{
                            string userName = "Guest";
                            if (Context.User != null)
                            {
                            userName = Context.User.Identity.Name;
                            }
                            }
                            <label class="form-label">@userName</label>
                            </div> *@
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label asp-for="Photo" class="form-label">الصورة الشخصية</label>
                                    <input asp-for="Photo" class="form-control" />
                                    <span asp-validation-for="Photo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label asp-for="ListAttachments" class="form-label">مرفقات اخرى</label>
                                    <input class="form-control" asp-for="ListAttachments" />
                                    <span asp-validation-for="ListAttachments" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
    <script>

        // $(document).ready(function () {
        //     var output = document.getElementById('CinemaLogoPreview');
        //     output.src = $("#Logo").val();
        // })

        // $("#Logo").on("change", function () {
        //     var output = document.getElementById('CinemaLogoPreview');
        //     output.src = $(this).val();
        // })
    </script>
}

