html {
    font-size: var(--font-size-base);
}

body {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F7F7F7;
}

.page-title {
    @extend .h3;
    display: flex;
    justify-content: center;
    gap: var(--space-base);
    color: var(--color-primary);
}

.badge {
    --bs-badge-padding-x: 0.75em;
    --bs-badge-padding-y: 0.55em;
    --bs-badge-font-size: 0.9rem;
    --bs-badge-font-weight: 400;
}
.text-bg-success{
    color: var(--color-success-100) !important;
    background-color: var(--color-success-50) !important;
}

.text-bg-danger{
    color: var(--color-critical-100) !important;
    background-color: var(--color-critical-50) !important;
}