$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "black": 900,
);

:root {
  // Typography - Size
  --font-size-display1: 4rem; // 64px
  --font-size-display2: 3.5rem; // 56px
  --font-size-display3: 3rem; // 48px
  --font-size-h1: 2.25rem; // 36px
  --font-size-h2: 1.875rem; // 30px
  --font-size-h3: 1.75rem; // 28px
  --font-size-h4: 1.5rem; // 24px
  --font-size-h5: 1.25rem; // 20px
  --font-size-h6: 1.125rem; // 18px
  --font-lead: 0.875rem; // 14px
  --font-internal-body: 1.125rem; // 18px
  --font-body: 1rem; // 16px
  --font-small-body: 0.875rem; // 14px
  --font-blockquotes: 1.75rem; // 28px
  --font-small-text: 0.75rem; // 12px
  --font-tiny-text: 0.625rem; // 10px
  --font-small-label: 0.625rem; // 10px
  --font-mid-label: 0.75rem; // 12px
  --font-text-label: 0.875rem; // 14px
  --font-large-label: 1rem; // 16px

  --font-size-mx: 2.25rem;
  --font-size-md: 1.25rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;

  @each $weight, $value in $font-weights {
    --font-#{$weight}: #{$value};
  }
}

@each $weight, $value in $font-weights {
  .font-#{$weight} {
    font-weight: var(--font-#{$weight}) !important;
  }
}

@mixin typo($name, $size, $weight: var(--font-regular), $line-height: normal, $transform: capitalize) {
  #{$name} {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    text-transform: $transform;
    margin: 0;
  }
}

@include typo(".typo-xl-headline", var(--font-xl-headline), var(--font-bold), normal);
@include typo(".typo-lg-headline", var(--font-lg-headline), var(--font-bold), normal);
@include typo(".typo-md-headline", var(--font-md-headline), var(--font-semi-bold), normal);
@include typo(".typo-subtitle", var(--font-subtitle), var(--font-medium), normal);
@include typo(".typo-formgroup-title", var(--font-formgroup-title), var(--font-semi-regular), normal);

@include typo(".typo-paragraph-md", var(--font-paragraph-md), var(--font-regular), 27px);
@include typo(".typo-paragraph-sm", var(--font-paragraph-sm), var(--font-regular), 24px);

@include typo(".typo-paragraph-lg-ar", var(--font-paragraph-lg-ar), var(--font-regular), 36px);
@include typo(".typo-paragraph-md-ar", var(--font-paragraph-md-ar), var(--font-regular), 27px);
@include typo(".typo-paragraph-sm-ar", var(--font-paragraph-sm-ar), var(--font-regular), 24px);

@include typo(".font-button", var(--font-button), var(--font-bold), 32px);
@include typo(".font-submit", var(--font-submit), var(--font-bold), 21px);

@include typo(".font-size-base", var(--font-size-base), var(--font-regular), 27px);
@include typo(".font-size-md", var(--font-size-md), var(--font-regular), 27px);
@include typo(".font-size-sm", var(--font-size-sm), var(--font-light), 24px);

.font-num {
  font-family: var(--font-num) !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-no-underline {
  text-decoration: none !important;
}

.text-line-through {
  text-decoration: line-through !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-center {
  text-align: center !important;
}

.text-start {
  text-align: start !important;
}

.text-end {
  text-align: end !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-justify {
  text-align: justify !important;
}