$sizes: (
    "auto": auto,
    "none": 0,
    "xs": 0.25rem,
    "sm": 0.5rem,
    "base": 1rem,
    "md": 1.5rem,
    "lg": 2rem,
    "xl": 2.5rem,
    "xxl": 3rem,
);
$directions: (
    "top": top,
    "bottom": bottom,
    "start": inline-start,
    "end": inline-end,
    "right": right,
    "left": left,
    "y": "",
    "x": "",
);

$border-radii: (
    "none": 0,
    "soft": 6px,
    "md": 10px,
    "rounded": 2em,
    "circle": 50%,
);

$border-sizes: (
    "none": 0,
    "base": 1px,
    "md": 2px,
    "lg": 3px,
    "xl": 6px,
);

:root {
    // Elevation / Shadow
    --shadow-none: none;
    --shadow-xs: 0px 12px 24px -10px rgba(179, 182, 186, 0.05);
    --shadow-sm: 0px 24px 32px -15px rgba(168, 175, 182, 0.15);
    --shadow-base: 0px 2px 12px rgba(182, 182, 182, 0.08);
    --shadow-md: 0px 0px 4px rgba(0, 0, 0, 0.25);
    --shadow-lg: 0px 48px 56px -25px rgba(100, 112, 122, 0.15);
}

$img-path: "../images";
$font-path: "../fonts";