@using QassimPrincipality.Web.ViewModels.Roles
@model RoleViewModel

@{
    ViewData["Title"] = "إنشاء صلاحية";
    // Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row justify-content-xxl-center">
    <div class="col-xxl-12">
        <div class="page-panel" id="elementToToggle">
            <h3 class="page-title margin-bottom-lg"> إنشاء صلاحية </h3>
            <form asp-action="Create" class="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label asp-for="Name" class="form-label"> اسم الصلاحية</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="إنشاء صلاحية" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

