@using QassimPrincipality.Application.Services.Lookups.Main.EServiceCategory
@{
    ViewData["Title"] = "إمازة منطقة القصيم | طلباتي  ";
}



<div class="margin-bottom-lg">
    <h3 class="page-title margin-bottom-md"> طلباتى </h3>
    
</div>

<div class="container">
    <div class="services-list">
        <div class="row">
            <div class="col-xxl-3 services-card-wrapper">
                <a class="services-card" href="@Url.Action("Index", "Request")">
                    @*  <a class="services-card" href="#"> *@
                    <div class="service-card__icon">
                        <svg width="24" height="24">
                            <use xlink:href="/assets/images/svg-icons.svg#logo"> </use>
                        </svg>
                    </div>
                    <div class="service-card__title">طلبات الخدمات </div>
                </a>
            </div>
            <div class="col-xxl-3 services-card-wrapper">
                <a class="services-card" href="@Url.Action("Index", "ShareData")">
                    @*  <a class="services-card" href="#"> *@
                    <div class="service-card__icon">
                        <svg width="24" height="24">
                            <use xlink:href="/assets/images/svg-icons.svg#logo"> </use>
                        </svg>
                    </div>
                    <div class="service-card__title"> طلبات مشاركة البيانات </div>
                </a>
            </div>
            <div class="col-xxl-3 services-card-wrapper">
                <a class="services-card" href="@Url.Action("Index", "OpenData")">
                    @*  <a class="services-card" href="#"> *@
                    <div class="service-card__icon">
                        <svg width="24" height="24">
                            <use xlink:href="/assets/images/svg-icons.svg#logo"> </use>
                        </svg>
                    </div>
                    <div class="service-card__title"> طلبات التواصل</div>
                </a>
            </div>
            <div class="col-xxl-3 services-card-wrapper">
                <a class="services-card" href="@Url.Action("Index", "OpenData")">
                    @*  <a class="services-card" href="#"> *@
                    <div class="service-card__icon">
                        <svg width="24" height="24">
                            <use xlink:href="/assets/images/svg-icons.svg#logo"> </use>
                        </svg>
                    </div>
                    <div class="service-card__title"> طلبات البيانات المفتوحة</div>
                </a>
            </div>
        </div>
        <div class="row justify-content-center margin-top-base service-list-empty" id="serviceEmptyState">
            <div class="col-6">
                <div class="services-card service-card--empty">
                    <div class="service-card__icon">
                        <svg>
                            <use xlink:href="/assets/images/svg-icons.svg#no-search-result"></use>
                        </svg>
                    </div>
                    <div class="service-card__title">عذراً .. لا يوجد خدمات</div>
                </div>
            </div>
        </div>
    </div>
</div>

