@{
    ViewData["Title"] = "";
}

<div class="pc-content-page">
    <div class="pc-not-found">
        <img src="~/icons/404.svg" alt="404" width="458px" height="324px" />
        <div>        
            <h3>حدث خطأ</h3>
            <p>عذراً، لم نستطع إيجاد الصفحة التي تبحث عنها</p>
        </div>
        <a class="pc-primary-btn">الرجوع للرئيسية</a>
    </div>
</div>


