@{
    ViewData["Title"] = "سياسة الخصوصية - ";
}

<div class="pc-content-page">
    <div class="pc-content-heading-bg">
        <div class="pc-content-heading">
            <div class="pc-breadcrumbs">
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index"> الصفحة الرئيسية </a>
                            </li>
                            <li>></li>
                            <li class="pc-breadcrumbs-current">سياسة الخصوصية</li>
                        </ul>
            </div>

            <div class="pc-content-title">
                <img src="~/icons/palm.svg" alt="palm icon" />
                <h2>سياسة الخصوصية</h2>
            </div>
        </div>
    </div>

    <div class="pc-content-body">
        <ul>
            <li>
                إذا قمت باستخدام تطبيق مباشر أو أرسلت لنا بريداً إلكترونياً عبر البوابة الإلكترونية أو قمت بالتسجيل في البوابة تزودنا فيه ببيانات شخصية، فإننا قد نتيح البيانات الضرورية مع جهات حكومية أخرى أو إدارات أخرى في منطقة القصيم وذلك لخدمتك بصورة أكثر فعالية، ولن نتيح بياناتك الشخصية مع الجهات غير الحكومية إلا إذا كانت من الجهات المصرح لها من الجهات المختصة بالقيام بأداء خدمات حكومية محددة، وبتقديمك لبياناتك ومعلوماتك الشخصية من خلال البوابة الإلكترونية فإنك توافق تماماً على تخزين ومعالجة واستخدام تلك البيانات من قبل إمارة منطقة القصيم والجهات الحكومية في منطقة القصيم، ونحن نحتفظ بالحق في كل الأوقات في كشف أي معلومات للجهات الحكومية المختصة، عندما يكون ذلك ضرورياً لحل أي مشكلة وارده إلينا.
            </li>

            <li>
                إنك توافق ومسئول بشكل كامل عن تمام وصحة وصدق البيانات التي ترسلها من خلال هذه البوابة عند تسجيل معلوماتك لدينا في البوابة.
            </li>

            <li>
                للحفاظ على بياناتك الشخصية ، يتم تأمين التخزين الإلكتروني والبيانات الشخصية المرسلة باستخدام التقنيات الأمنية المناسبة.
            </li>

            <li>
                تقوم إدارة البوابة باتخاذ الإجراءات والتدابير المناسبة والملائمة للمحافظة على المعلومات الشخصية التي لديها بشكل آمن يضمن حمايتها من الفقدان أو الدخول غير المصرح به أو إساءة الاستخدام، أو التعديل والإفصاح غير المصرح بهما.
            </li>

            <li>
                هذه البوابة قد تحتوي على روابط إلكترونية لمواقع أو بوابات قد تستخدم طرقاً لحماية المعلومات وخصوصياتها تختلف عن الطرق المستخدمة لدينا، ونحن غير مسؤولين عن محتويات وطرق خصوصيات المواقع الأخرى، وننصحك بالرجوع إلى إشعارات الخصوصية الخاصة بتلك المواقع. ​​
            </li>

            <li>
                لا تتحمل إمارة منطقة القصيم أي مسؤولية نظامية عن استخدام البيانات أو المعلومات المنشورة على موقعها الإلكتروني.
            </li>
        </ul>

        <div class="pc-content-actions">
                    <a asp-controller="Home" asp-action="Index" class="pc-outline-btn"> رجوع </a>
        </div>
    </div>
</div>

