@{
    ViewData["Title"] = "اتفاقية مستوى الخدمة - ";
}

<div class="pc-content-page">
    <div class="pc-content-heading-bg">
    <div class="pc-content-heading">
        <div class="pc-breadcrumbs">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index"> الصفحة الرئيسية </a>
                </li>
                <li>></li>
                <li class="pc-breadcrumbs-current">اتفاقية مستوى الخدمة</li>
            </ul>
        </div>

        <div class="pc-content-title">
            <img src="~/icons/palm.svg" alt="palm icon" />
            <h2>اتفاقية مستوى الخدمة</h2>
        </div>
    </div>
    </div>

    <div class="pc-content-body">
        <div>
            <h3>مقدمة</h3>
            <p>
                في إطار تطوير إمارة منطقة القصيم لخدماتها الالكترونية وتحسينها، تم إعداد اتفاقية مستوى الخدمات الالكترونية لرفع مستوى الخدمات المقدمة من خلال البوابة الالكترونية لإمارة منطقة القصيم؛ والحقوق والالتزامات لإمارة منطقة القصيم والمستفيد. وتُعتبر هذه الاتفاقية بمثابة اتفاق واضح بين إمارة منطقة القصيم وبين المستفيدين من خدماتها الالكترونية. ويعدُّ مجرد زيارة البوابة الالكترونية للحصول على أي خدمة من الخدمات المشمولة بهذه الاتفاقية، موافقة من طرف الراغبين بالاستفادة من تلك الخدمات على جميع ما يرد في هذه الاتفاقية، دون إخلال بأي اتفاقيات أخرى قد تشملها عملية  تقديم تلك الخدمات، وتسعى إمارة منطقة القصيم لتقديم خدماتها وفق أعلى المستويات وأفضل الممارسات، تلتزم إمارة منطقة القصيم بالمحافظة على الخصوصية وسرية المعلومات في التعامل مع طلبات المستفيدين من الخدمات، كما يبذل فريق البوابة الالكترونية جهودهم لتقديم خدمات مميزة لجميع الزوار والمستفيدين.
            </p>
        </div>

        <div>
            <h3>حقوق والتزامات المستفيد</h3>
            <p>
                يقوم فريق إدارة بوابة إمارة منطقة القصيم بتوفير وإتاحة الخدمات الإلكترونية خلال جميع ايام الاسبوع لتشمل حتى أيام العطل والاجازات.
                يتم التعامل مع طلبات المستفيدين بعدالة وسرية، والرد بما يلزم عبر النظام ومن خلال الرسائل النصية أو البريد الإلكتروني أو وسائل التواصل المتاحة بحسب الحاجة ونوع الخدمة.
                تتيح البوابة الإلكترونية تسجيل حساب للمستخدم؛ يمكنه من خلاله تقديم طلبات الاستفادة من الخدمات والأنظمة والتطبيقات التي تقدمها الإمارة عبر البوابة الإلكترونية، كما يمكنه متابعة رسائله ومراحلها من خلال حسابه.
                يجب أن يكون التسجيل مطابقاً لأساس الهوية، وأن تكون البيانات المدخلة صحيحة، علماً بأن عدم صحة البيانات المدخلة أو المرفقة يؤدي إلى استبعاد الطلب.
                يتحمل مقدم الطلب المسؤولية الكاملة تجاه اختياراته، ومسؤولية الالتزام بالأنظمة ذات العلاقة واللوائح المنظمة للخدمات، وفي حالة مخالفتها يضع المتقدم نفسه أمام المساءلة القانونية دون أدنى مسؤولية على الإمارة، ويتم استبعاد الطلبات المخالفة.
            </p>
        </div>

        <div>
            <h3>حقوق والتزامات إمارة منطقة القصيم</h3>
            <p>
                يلتزم فريق بوابة الإمارة بالتفاعل مع الرسائل والطلبات الصحيحة، والتواصل مع أصحابها خلال المدة المحددة، التي قد تزيد أو تقل حسب الحالة.
                يلتزم فريق بوابة الإمارة بتطبيق المساءلة عن التقصير في التواصل مع الرسائل والطلبات الواردة من المستفيدين.
                تحافظ إدارة البوابة الالكترونية على الخصوصية والسرية التامة في التعامل مع طلبات المستفيدين.
                تلتزم إدارة البوابة الالكترونية بالعمل على حل مشاكل تسجيل الدخول أو المشاكل المتعلقة بإتاحة الوصول إلى أي قسم من أقسام البوابة.
                يحق لإدارة البوابة الالكترونية استبعاد الطلبات غير المطابقة أو التي تحتوي على بيانات غير صحيحة.
                يحق لإدارة البوابة الالكترونية تعطيل بعض الخدمات أو الأنظمة مؤقتًا لأعمال الصيانة أو لأسباب أخرى.
                يحظر على زائر البوابة الالكترونية الدخول إليها بغرض الإضرار بها، أو إفساد أي من محتوياتها  .
                يحرص زائر البوابة الالكترونية على الإبلاغ عن أي حالة قصور أو خطأ ان وجدت وذلك لهدف تحسين محتوى البوابة.
                يتحمل المتقدم بالطلب المسؤولية الكاملة تجاه اختياراته، ومسؤولية الالتزام بالأنظمة ذات العلاقة واللوائح المنظمة للخدمات، وفي حالة مخالفتها يضع المتقدم نفسه أمام المساءلة القانونية دون أدنى مسؤولية على الإمارة.
            </p>
        </div>

        <div>
            <h3>خدمات إمارة منطقة القصيم للمستفيدين</h3>
            <p>
                الجدول في الأسفل يوضح معلومات عن مستوى تقديم الخدمات الإلكترونية لإمارة منطقة القصيم
            </p>

            <table class="pc-table">
                <thead>
                    <tr>
                        <th>الخدمة الإلكترونية</th>
                        <th>نوع الخدمة الإلكترونية</th>
                        <th>مدة تنفيذ الخدمة</th>
                        <th>توفر الخدمة</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>الاستعلام الإلكتروني</td>
                        <td>
                            <p class="pc-grey-tag pc-sla-tag">خدمات أساسية</p>
                        </td>
                        <td>فوري</td>
                        <td>24/7</td>
                    </tr>
                    <tr>
                        <td>الاستعلام عن معاملة</td>
                        <td>
                            <p class="pc-grey-tag pc-sla-tag">خدمات أساسية</p>
                        </td>
                        <td>فوري</td>
                        <td>24/7</td>
                    </tr>
                    <tr>
                        <td>زواج سعودي من غير سعودية بالخارج</td>
                        <td>
                            <p class="pc-grey-tag pc-sla-tag">خدمات الزواج</p>
                        </td>
                        <td>فوري</td>
                        <td>24/7</td>
                    </tr>
                    <tr>
                        <td>زواج سعودي من غير سعودية مقيمة</td>
                        <td>
                            <p class="pc-grey-tag pc-sla-tag">خدمات الزواج</p>
                        </td>
                        <td>فوري</td>
                        <td>24/7</td>
                    </tr>
                    <tr>
                        <td>زواج سعودي من غير سعودية مولودة بالسعودية</td>
                        <td>
                            <p class="pc-grey-tag pc-sla-tag">خدمات الزواج</p>
                        </td>
                        <td>فوري</td>
                        <td>24/7</td>
                    </tr>
                    <tr>
                        <td>زواج سعودية من غير سعودي</td>
                        <td>
                            <p class="pc-grey-tag pc-sla-tag">خدمات الزواج</p>
                        </td>
                        <td>فوري</td>
                        <td>24/7</td>
                    </tr>
                    <tr>
                        <td>طلب محو سابقة - رد اعتبار</td>
                        <td>
                            <p class="pc-grey-tag pc-sla-tag">خدمات السجناء</p>
                        </td>
                        <td>فوري</td>
                        <td>24/7</td>
                    </tr>
                    <tr>
                        <td>طلب الخروج المؤقت للسجين</td>
                        <td>
                            <p class="pc-grey-tag pc-sla-tag">خدمات السجناء</p>
                        </td>
                        <td>فوري</td>
                        <td>24/7</td>
                    </tr>
                    <tr>
                        <td>طلب نقل سجين من سجن إلى آخر</td>
                        <td>
                            <p class="pc-grey-tag pc-sla-tag">خدمات السجناء</p>
                        </td>
                        <td>فوري</td>
                        <td>24/7</td>
                    </tr>
                    <tr>
                        <td>طلب عدم الإبعاد من المملكة العربية السعودية</td>
                        <td>
                            <p class="pc-grey-tag pc-sla-tag">خدمات السجناء</p>
                        </td>
                        <td>فوري</td>
                        <td>24/7</td>
                    </tr>
                    <tr>
                        <td>طلب السماح للمواطن بالسفر ورفع اسمه من القائمة</td>
                        <td>
                            <p class="pc-grey-tag pc-sla-tag">خدمات السجناء</p>
                        </td>
                        <td>فوري</td>
                        <td>24/7</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h3>المساعدة والدعم</h3>
            <p>
                يحتوي الموقع الرسمي الإلكتروني لإمارة منطقة القصيم على قنوات لتقديم الدعم والمساعدة لعموم المستفيدين، وذلك من خلال قنوات التواصل المتعددة في البوابة الإلكترونية، وتلتزم إدارة البوابة الالكترونية للإمارة بالتفاعل والاستجابة لبلاغات المستفيدين الواردة إليها من خلال مختلف القنوات المخصصة لتحسين تجربة المستفيد.
            </p>
        </div>

        <div class="pc-content-actions">
            <a asp-controller="Home" asp-action="Index" class="pc-outline-btn"> رجوع </a>
        </div>
    </div>
</div>

