@using QassimPrincipality.Application.Services.Lookups.Main.EServicesSubCategory
<h3 class="page-title margin-bottom-lg">
    الخدمات الإلكترونية لإمارة منطقة القصيم
</h3>
<div class="container">
    <div class="services-list">
        <div class="row">
            @if (ViewData["subcategories"] != null)
            {
                var subcategories = (List<EServiceSubCategoryDto>)ViewData["subcategories"];
                foreach (EServiceSubCategoryDto item in subcategories)
                {
                    <div class="col-xxl-3">
                       @*  <a class="services-card" href="#"> *@
                        <a class="services-card" href="@Url.Action("ServiceDefination", "Home",
                                             new
                                             {                                                     // htmlAttributes
                                                 id = item.Id,
                                                 isCategory=false
                                             })">
                            <div class="service-card__icon">
                                <svg width="24" height="24">
                                    <use xlink:href="/assets/images/svg-icons.svg#logo"> </use>
                                </svg>
                            </div>
                            <div class="service-card__title"> @item.NameAr</div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>
