@{
    ViewData["Title"] = "الشروط والأحكام - ";
}

<div class="pc-content-page">
    <div class="pc-content-heading-bg">
    <div class="pc-content-heading">
        <div class="pc-breadcrumbs">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index"> الصفحة الرئيسية </a>
                </li>
                <li>></li>
                <li class="pc-breadcrumbs-current">الشروط والأحكام</li>
            </ul>
        </div>

        <div class="pc-content-title">
            <img src="~/icons/palm.svg" alt="palm icon" />
            <h2>الشروط والأحكام</h2>
        </div>
    </div>
    </div>

    <div class="pc-content-body">
        <div>
            <h3>شروط الاستخدام</h3>
            <p>
                هذا البوابة الإلكترونية خاصة بإمارة منطقة القصيم بالمملكة العربية السعودية متاحة لاستخدامك الشخصي، ويخضع دخولك واستخدامك لهذه البوابة لبنود وشروط الاستخدام هذه، ولأنظمة المملكة العربية السعودية الخاصة بهذا المجال، وكذلك يعد دخولك ووصولك إلى الموقع موافقة صريحة دون قيد أو شرط على بنود وشروط الاستخدام، سواء كنت مستخدماً مسجلاً أم لم تكن، وتسري هذه الموافقة اعتباراً من تاريخ أول استخدام لك لهذه البوابة.
                يصبح أي تعديل لهذه البنود والشروط نافذاً فور إعلانه، ما لم يتبين خلاف ذلك، ويعني استمرارك في استخدام هذه البوابــة عقب إعلان أي تعديل قبولك التام لذلك التعديل.
                وتتضمن بنود وشروط الاستخدام هذه، القسم الخاص بسياسة الخصوصية وحقوق الملكية.
            </p>
        </div>

        <div>
            <h3>حدود المسؤولية</h3>
            <p>
                الخدمات الإلكترونية التي تقدمها البوابة الإلكترونية لإمارة منطقة القصيم عبر الإنترنت والحصول على معلومات بشأن الدوائر والجهات الحكومية المختلفة تقدم فقط لتسهيل الإجراءات اليدوية؛ وبهذا تقر بعلمك الكامل بأن الاتصالات عبر شبكة الإنترنت قد تتعرض للتدخل أو الاعتراض بواسطة الغير، وأن البوابة لا تستبدل المعلومات المتوفرة من خلال الجهات الرسمية، وأن الطلبات والإجراءات الإدارية يمكن اتخاذها مباشرة أمام الجهات المختصة وعليه فإن اللجوء إلى هذه البوابة يظل على مسؤوليتك الخاصة، ونحن لا نكون بأي حال من الأحوال مسؤولين عن أية خسارة أو ضرر من أي نوع قد ينتج بسبب استخدامك أو زيارتك للبوابة، أو اعتمادك على أي بيان أو رأي أو إعلان في البوابة، أو ينجم عن أي تأخير في التشغيل، أو تعثر الاتصال، أو مشاكل الدخول إلى شبكة الإنترنت، أو أعطال المعدات، أو البرامج، أو سلوك أو أفكار أي شخص يدخل إلى هذه البوابة.
                وبهذا تقر هنا وتوافق على أن وسيلتكم الحصرية والوحيدة لعلاج أي ضرر أو خسارة قد تحدث نتيجة دخولك أو استخدامك لهذه البوابة هي الامتناع عن استخدامها أو الدخول إليها أو عدم الاستمرار في ذلك.
            </p>
        </div>

        <div>
            <h3>إنهاء الاستخدام</h3>
            <p>
                يجوز لنا وحسب تقديرنا المطلق إنهاء أو تقييد أو إيقاف حقك في الدخول إلى البوابة واستخدامها دون إشعار ولأي سبب، بما في ذلك مخالفة شروط وبنود الاستخدام أو أي سلوك آخر قد نعتبره حسب تقديرنا الخاص غير قانوني أو مضرًا بالآخرين، وفي حال الإنهاء، فإنه لن يكون مصرحاً لك بالدخول إلى هذه البوابة.
            </p>
        </div>

        <div>
            <h3>المرجعية القضائية</h3>
            <p>
                بهذا توافق على الخضوع حصريًا للسلطات القضائية بالمملكة العربية السعودية، فيما يتعلق بجميع المطالبات والخلافات التي تنشأ عن استخدامك لهذه البوابة.
            </p>
        </div>

        <div class="pc-content-actions">
            <a asp-controller="Home" asp-action="Index" class="pc-outline-btn"> رجوع </a>
        </div>
    </div>
</div>
