.page-layout {
    display: flex;
    flex-direction: column;
    padding: var(--space-xl) 0;
}

.page-panel {
    padding: var(--space-xxl);
    background-color: var(--color-white);
    box-shadow: var(--shadow-base);
    border-radius: 1em;
}