
@{
    ViewData["Title"] = "عن الإمارة";
}

<h1>تضم المملكة العربية السعودية 13 منطقة إدارية، تسمى كل منها "إمارة" وتضم كل إمارة عددا من المحافظات والمراكز، ,ومنطقة القصيم هي إحدى هذه المناطق وتضم 6 محافظات،
​ تم انشاء إمارة منطقة القصيم عام    1344هـ   بعد توحيد المملكة العربية السعودية ، وتتبع الإمارة لوزارة الداخلية السعودية وعاصمتها الرياض.</h1>

