@using QassimPrincipality.Web.ViewModels.ShareData
@model AddShareDataVM

<div class="container-fluid body-content bg-transparent" style="background-image: url('~/../../Images/row.pattern2.png');">

        


<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="modal" id="newItemRejectLink" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">تقديم طلب مشاركة بيانات</h5>
                
            </div>
            <div class="modal-body">
                <div style="text-align:center;color:#a12d00;font-weight:600;">
                    تم إستقبال طلبكم بخصوص مشاركة البيانات  <br> سيتم دراسة المطلوب من قبل المختصين  <br> ويكون الرد عليكم من خلال البريد الإلكتروني المسجل <br> خلال 15 يوم عمل
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnChangeMobaileNo" data-dismiss="modal" class="btn btn-success" style="width:40%">تم</button>

            </div>
        </div>
    </div>
</div>
<h1 class="mt-4">طلب مشاركة البيانات</h1>
<br>
    <form id="client-form" asp-controller="ShareData" asp-action="Create" Method="post">
        <div class="container card NoTransform p-5 d-flex justify-content-center">



            <div class="container ">
                
                <div class="form-group row">


                    <label class="col-sm-3 col-form-label" asp-for="UserFullName">
                        اسم
                    </label>



                    <div class="col-sm-8">


                        <input type="text" class="form-control col-8 text-box single-line" asp-for="UserFullName">
                        <span asp-validation-for="UserFullName" class="field-validation-valid text-danger"> </span>
                    </div>
                </div>

                <div class="form-group row">


                    <label class="col-sm-3 col-form-label" asp-for="UserEmail">
                        البريد إلكتروني
                    </label>
                    <div class="col-sm-8">

                        <input type="text" class="form-control col-8 text-box single-line" asp-for="UserEmail" maxlength="50">
                        <span asp-validation-for="UserEmail" class="field-validation-valid text-danger"> </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="IdentityNumber">
                        رقم الهوية / الإقامة
                    </label>
                    <div class="col-sm-8">

                        <input type="text" class="form-control col-8 text-box single-line" maxlength="10" asp-for="IdentityNumber">
                        <span asp-validation-for="IdentityNumber" class="field-validation-valid text-danger"> </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="UserMobile">
                        رقم الجوال
                    </label>
                    <div class="col-sm-8">

                        <input type="text" class="form-control col-8 text-box single-line" asp-for="UserMobile" maxlength="14">
                        <span asp-validation-for="UserMobile" class="field-validation-valid text-danger" > </span>
                    </div>
                </div>
                @if (ViewData["entities"] != null)
                {
                    var entities = (List<SelectListItem>)ViewData["entities"];
                    <div class="form-group row">
                        <div id="RequestType" class="form-group">
                            <label asp-for="EntityId">
                                نوع الجهة
                            </label>

                            <select asp-for="EntityId" required asp-items="@(new SelectList(entities, "Value", "Text"))"
                                    class="form-control" id="ddlentityTypes">
                            </select>
                            <span asp-validation-for="EntityId" class="text-danger"></span>

                        </div>
                    </div>
                }

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" asp-for="PurposeOfRequest">
                       الغرض من طلب البيانات
                    </label>
                    <div class="col-sm-8">

                        <input type="text" class="form-control col-8 text-box single-line" asp-for="PurposeOfRequest">
                        <span asp-validation-for="PurposeOfRequest" class="field-validation-valid text-danger"> </span>
                    </div>
                </div>
               
                <div class="form-group">
                    <label asp-for="Description" class="control-label">وصف البيانات المطلوبة</label>
                    <textarea asp-for="Description" class="form-control" rows="5" cols="6" maxlength="400"></textarea>
                    <span asp-validation-for="Description" class="field-validation-valid text-danger"> </span>
                </div>

                <div class="form-group row ">
                    <label  class="control-label  col-md-4 offset-md-3 required" asp-for="IsShareAgreementExist">هل توجد اتفاقية مشاركة بيانات مسبقاً؟</label>

                    <div class="col-md-5 ">
                        <label class="col-md-2">


                            <input type="radio" asp-for="IsShareAgreementExist"  value="نعم" id="IsShareAgreementExistTrue" />

                            <label for="">نعم</label>
                        </label>
                        <label class="col-md-2">


                            <input type="radio" asp-for="IsShareAgreementExist"  value="لا" id="IsShareAgreementExistFalse" />
                            <label for="">لا</label>
                        </label>

                        <span asp-validation-for="IsShareAgreementExist" class="field-validation-valid text-danger"> </span>
                        
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-4 offset-md-3 required" asp-for="IsContainsPersonalData">هل تحتوي على بيانات شخصية؟</label>

                    <div class="col-md-5 ">
                        <label class="col-md-2">


                            <input type="radio" asp-for="IsContainsPersonalData" value="نعم" id="IsContainsPersonalDataTrue" />

                            <label for="">نعم</label>
                        </label>
                        <label class="col-md-2">


                            <input type="radio" asp-for="IsContainsPersonalData" value="لا" id="IsContainsPersonalDataFalse" />
                            <label for="">لا</label>
                        </label>

                        <span asp-validation-for="IsContainsPersonalData" class="field-validation-valid text-danger"> </span>

                    </div>
                </div>


                <div class="form-group row">
                    <label  class="control-label col-md-4 offset-md-3 required" asp-for="IsRequesterDataOfficePresenter">هل مقدم الطلب هو ممثل مكتب البيانات لدى الجهة؟</label>

                    <div class="col-md-5 ">
                        <label class="col-md-2">


                            <input type="radio" asp-for="IsRequesterDataOfficePresenter" value="نعم" id="IsRequesterDataOfficePresenterTrue" />

                            <label for="">نعم</label>
                        </label>
                        <label class="col-md-2">


                            <input type="radio" asp-for="IsRequesterDataOfficePresenter" value="لا" id="IsRequesterDataOfficePresenterFalse" />
                            <label for="">لا</label>
                        </label>
                        <span asp-validation-for="IsRequesterDataOfficePresenter" class="field-validation-valid text-danger"> </span>


                    </div>
                </div>

                <div class="form-group row">
                    <label  class="control-label col-md-4 offset-md-3 required" asp-for="IsLegalJustification">هل يوجد لدى الجهة مسوغ قانوني لطلب البيانات؟</label>

                    <div class="col-md-5 ">
                        <label class="col-md-2">


                            <input type="radio" asp-for="IsLegalJustification" value="نعم" id="IsLegalJustificationTrue" />

                            <label for="">نعم</label>
                        </label>
                        <label class="col-md-2">


                            <input type="radio" asp-for="IsLegalJustification" value="لا" id="IsLegalJustificationFalse" />
                            <label for="">لا</label>
                        </label>

                        <span asp-validation-for="IsLegalJustification" class="field-validation-valid text-danger"> </span>

                    </div>
                </div>


                <div class="form-group row" id="divLegalJustificationDescription" style="display:none">
                    <label  class="control-label col-md-3 " asp-for="LegalJustificationDescription">وصف المسوغ القانوني</label>

                    <div class="col-md-9">
                        <textarea asp-for="LegalJustificationDescription" class="form-control"></textarea>
                       
                    </div>
                </div>


                
                <div class="form-group row">
                    <div class="col-sm-10">

                        <a class="btn btn-dark-green btn-bg" href="/">الى الخلف</a>
                        <button type="submit" class="btn btn-dark-green text-right">إرسال</button>
                    </div>
                </div>

            </div>

        </div>
    </form>
    </div>
<script>
    $(document).ready(function () {
       
        debugger;
        $(':radio[name=IsLegalJustification]').change(function () {
            // read the value of the selected radio
            var value = $(this).val();
            console.log(value);
            if (value == 'نعم') {
                $('#divLegalJustificationDescription').show();
            }
            else { $('#divLegalJustificationDescription').hide(); }
        });


        // $('#IsLegalJustificationTrue').click(function () {


        //     $("#divLegalJustificationDescription").show();
        // });
        // $('#IsLegalJustificationFalse').click(function () {

        //     $("#divLegalJustificationDescription").hide();

        // });


    });
</script>

