@{
    ViewData["Title"] = "مراجعة الطلب - ";
}

<div class="pc-service-steps-page">
    <div class="pc-breadcrumbs">
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index"> الصفحة الرئيسية </a>
            </li>
            <li>></li>
            <li>
                <a asp-controller="Services" asp-action="Index"> الخدمات</a>
            </li>
            <li>></li>
            <li class="pc-breadcrumbs-current">اسم الخدمة</li>
        </ul>
    </div>

    <div class="pc-service-steps-container">
        <div class="pc-service-steps-progress">
            <div class="pc-step active">
                <div class="pc-step-completed">
                    <img src="~/icons/tick.svg" alt="tick" />
                </div>
                <div class="label">
                    <h6>الخطوة الأولى</h6>
                    <p>بيانات مقدم الطلب</p>
                </div>
            </div>

            <div class="pc-step-line"></div>

            <div class="pc-step active">
                <div class="pc-step-completed">
                    <img src="~/icons/tick.svg" alt="tick" />
                </div>
                <div class="label">
                    <h6>الخطوة الثانية</h6>
                    <p>بيانات المعني بالطلب</p>
                </div>
            </div>

            <div class="pc-step-line"></div>

            <div class="pc-step active">
                <div class="pc-step-completed">
                    <img src="~/icons/tick.svg" alt="tick" />
                </div>
                <div class="label">
                    <h6>الخطوة الثالثة</h6>
                    <p>إرفاق المستندات</p>
                </div>
            </div>

            <div class="pc-step-line"></div>

            <div class="pc-step active">
                <div class="pc-step-circle">4</div>
                <div class="label">
                    <h6>الخطوة الرابعة</h6>
                    <p>مراجعة الطلب</p>
                </div>
            </div>
        </div>

        @* Mobile progress bar *@
        <div class="pc-service-steps-progress-mobile">
            <div class="progress-circle">
                <img src="~/icons/step4of4.svg" alt="progress" />
            </div>
            <div class="text-section">
                <h5>الخطوة الرابعة</h5>
                <p>مراجعة الطلب</p>
            </div>
        </div>

        <div class="pc-service-form pc-basic-container">
            @* بيانات مقدم الطلب *@
            <div class="pc-service-form-heading">
                <h3>اسم الخدمة</h3>
                <p>وصف الخدمة</p>

                <div class="pc-form-line"></div>

                <h4>بيانات مقدم الطلب</h4>
            </div>

            <form action="" method="" id="" class="pc-form">
                <div class="pc-form-grid-2col">
                    <div class="pc-full-width-input">
                        <div class="pc-input">
                            <label for="applicantRole" class="pc-input-label">صفة مقدم الطلب</label>
                            <input type="text" id="applicantRole" name="applicantRole" class="pc-review-input pc-full-width-input" value="وكيل" readonly>
                        </div>
                    </div>

                    <div class="pc-input">
                        <label for="name" class="pc-input-label">الاسم الرباعي</label>
                        <input type="text" id="name" name="name" class="pc-auto-filled-input" value="عبدالله احمد محمد الأحمد" readonly>
                        <span class="pc-service-form-tooltip">تم استرداد المعلومات من مركز المعلومات الوطني</span>
                    </div>

                    <div class="pc-input">
                        <label for="nationality" class="pc-input-label">الجنسية</label>
                        <input type="text" id="nationality" name="nationality" class="pc-auto-filled-input" value="المملكة العربية السعودية" readonly>
                        <span class="pc-service-form-tooltip">تم استرداد المعلومات من مركز المعلومات الوطني</span>
                    </div>

                    <div class="pc-input">
                        <label for="idNumber" class="pc-input-label">رقم الهوية</label>
                        <input type="text" id="idNumber" name="idNumber" class="pc-auto-filled-input" value="1109882374" readonly>
                        <span class="pc-service-form-tooltip">تم استرداد المعلومات من مركز المعلومات الوطني</span>
                    </div>

                    <div class="pc-input">
                        <label for="birthdate" class="pc-input-label">تاريخ الميلاد</label>
                        <input type="text" id="birthdate" name="birthdate" class="pc-auto-filled-input" value="1998-05-19" readonly>
                        <span class="pc-service-form-tooltip">تم استرداد المعلومات من مركز المعلومات الوطني</span>
                    </div>

                    <div class="pc-input">
                        <label for="phone" class="pc-input-label"> رقم الجوال</label>
                        <input type="text" id="phone" name="phone" value="0555555555" class="pc-review-input" readonly>
                    </div>

                    <div class="pc-input">
                        <label for="email" class="pc-input-label">البريد الإلكتروني</label>
                        <input type="text" id="email" name="email" value="example@mail.com" class="pc-review-input" readonly>
                    </div>

                    <div class="pc-input">
                        <label for="city" class="pc-input-label">المدينة</label>
                        <input type="text" id="city" name="city" class="pc-auto-filled-input" value="بريدة" readonly>
                        <span class="pc-service-form-tooltip">تم استرداد المعلومات من البريد السعودي</span>
                    </div>

                    <div class="pc-input">
                        <label for="district" class="pc-input-label">الحي</label>
                        <input type="text" id="district" name="district" class="pc-auto-filled-input" value="حي الصفراء" readonly>
                        <span class="pc-service-form-tooltip">تم استرداد المعلومات من البريد السعودي</span>
                    </div>
                </div>
            </form>

            @* بيانات المعني بالطلب *@
            <div class="pc-service-form-heading">
                <div class="pc-form-line"></div>

                <h4>بيانات المعني بالطلب</h4>
            </div>

            <form action="" method="" id="" class="pc-form">
                <div class="pc-form-grid-2col">
                    <div class="pc-input">
                        <label for="name" class="pc-input-label">الاسم الرباعي</label>
                        <input type="text" id="name" name="name" class="pc-review-input" value="عبدالله احمد محمد الأحمد" readonly>
                    </div>

                    <div class="pc-input">
                        <label for="nationality" class="pc-input-label">الجنسية</label>
                        <input type="text" id="nationality" name="nationality" class="pc-review-input" value="المملكة العربية السعودية" readonly>
                    </div>

                    <div class="pc-input">
                        <label for="idNumber" class="pc-input-label">رقم الهوية</label>
                        <input type="text" id="idNumber" name="idNumber" class="pc-review-input" value="1109882374" readonly>
                    </div>

                    <div class="pc-input">
                        <label for="birthdate" class="pc-input-label">تاريخ الميلاد</label>
                        <input type="text" id="birthdate" name="birthdate" class="pc-review-input" value="1998-05-19" readonly>
                    </div>

                    <div class="pc-input">
                        <label for="phone" class="pc-input-label"> رقم الجوال</label>
                        <input type="text" id="phone" name="phone" class="pc-review-input" value="0555555555" readonly>
                        <div class="error"></div>
                    </div>

                    <div class="pc-input">
                        <label for="email" class="pc-input-label">البريد الإلكتروني</label>
                        <input type="text" id="email" name="email" class="pc-review-input" value="example@mail.com" readonly>
                        <div class="error"></div>
                    </div>

                    <div class="pc-input">
                        <label for="city" class="pc-input-label">المدينة</label>
                        <input type="text" id="city" name="city" class="pc-review-input" value="بريدة" readonly>
                    </div>

                    <div class="pc-input">
                        <label for="district" class="pc-input-label">الحي</label>
                        <input type="text" id="district" name="district" class="pc-review-input" value="حي الصفراء" readonly>
                    </div>

                    <div class="pc-input pc-full-width-input">
                        <label for="details" class="pc-input-label"> تفاصيل الطلب</label>
                        <textarea name="details" id="details" class="pc-review-input" readonly></textarea>
                    </div>
                </div>
            </form>

            @* المرفقات *@
            <div class="pc-service-form-heading">
                <div class="pc-form-line"></div>

                <h4>المرفقات</h4>
            </div>

            <table class="pc-table pc-striped-table attachments-table">
                <thead>
                    <tr>
                        <th>اسم الملف</th>
                        <th>صيغة الملف</th>
                        <th>حجم الملف</th>
                        @* <th>معاينة الملف</th> *@
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>National ID</td>
                        <td>jpg</td>
                        <td>212 KB</td>
                        @* <td>
                        <button class="pc-outline-btn">
                        معاينة
                        </button>
                        </td> *@
                    </tr>
                    <tr>
                        <td>صك الحكم</td>
                        <td>png</td>
                        <td>212 KB</td>
                        @* <td>
                        <button class="pc-outline-btn">
                        معاينة
                        </button>
                        </td> *@
                    </tr>
                </tbody>
            </table>

            <div class="pc-service-form-heading">
                <div class="pc-form-line"></div>
            </div>

            <div class="pc-checkbox-container">
                <label class="pc-accept-terms" for="acceptTerms">
                    <input type="checkbox" id="acceptTerms" name="acceptTerms" class="checkbox-input">
                    <span class="pc-checkbox"></span>
                    <span class="pc-checkbox-text">
                        أقر بأن جميع البيانات صحيحة وأتحمل كامل المسؤولية في حال ثبوت غير ذلك، كما أقر بالموافقة على
                        <a asp-controller="Home" asp-action="TermsAndConditions">الشروط والأحكام</a>
                    </span>
                </label>
                <div class="error"></div>
            </div>

            <div class="pc-form-buttons">
                <a asp-controller="SharedPR" asp-action="StepThree" class="pc-outline-btn">رجوع</a>
                <button class="pc-primary-btn" id="sendRequest">إرسال الطلب</button>
            </div>
        </div>
    </div>
</div>