@{
    ViewData["Title"] = "تسجيل الدخول - ";
}

<div class="pc-img-bg">
    <div class="pc-basic-container pc-sm-container pc-centered-text">
        <div class="pc-basic-container-heading pc-centered-text">
            <h3>تسجيل الدخول لحسابك</h3>
            <p>الرجاء فتح تطبيق نفاذ وتأكيد الطلب باختيار الرقم الظاهر</p>
        </div>
        <h3 id="timer">0:60</h3>
        <div class="pc-otp">
            <p>12</p>
        </div>
        <a asp-controller="Login" asp-action="Index" class="pc-outline-btn pc-long-btn">إلغاء</a>
    </div>
</div>


