@{
	ViewData["Title"] = "صوت المستفيد - ";
}

<div class="pc-content-page">
	<div class="pc-content-heading-bg">
	<div class="pc-content-heading">
		<div class="pc-breadcrumbs">
			<ul>
				<li>
					<a asp-controller="Home" asp-action="Index"> الصفحة الرئيسية </a>
				</li>
				<li>></li>
				<li>
					<a asp-controller="EParticipation" asp-action="Index"> المشاركة الإلكترونية </a>
				</li>
				<li>></li>
				<li class="pc-breadcrumbs-current">صوت المستفيد</li>
			</ul>
		</div>

		<div class="pc-content-title">
			<img src="~/icons/palm.svg" alt="palm icon" />
			<h2>صوت المستفيد</h2>
		</div>

		<div class="pc-content-description">
			<p>
				يُعنى هذا القسم بعرض التقارير الدورية التي تتضمن نتائج الاستشارات الإلكترونية وتحليلات التغذية الراجعة الواردة عبر منصات "استطلاع" و"تفاعل".
			</p>
		</div>
	</div>
	</div>

	<div class="pc-content-body">
        <table class="pc-table pc-striped-table attachments-table">
            <thead>
                <tr>
                    <th>العنوان</th>
                    <th>الفترة الزمنية</th>
                    <th>التقرير</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>نتائج استشارة ”القناة الإلكترونية الأكثر فعالية للتواصل مع المستفيدين“</td>
                    <td>الربع الأول 2024</td>
                    <td>
						<button class="pc-outline-btn" onclick="openFile('beneficiary-voice-1-2024.pdf')">
                            <img src="~/icons/download.svg"/>
                            تحميل
                        </button>
                    </td>
                </tr>

				<tr>
					<td>نتائج استشارة ”القناة الإلكترونية الأكثر فعالية للتواصل مع المستفيدين“</td>
					<td>الربع الثالث 2024</td>
					<td>
						<button class="pc-outline-btn" onclick="openFile('beneficiary-voice-3-2024.pdf')">
							<img src="~/icons/download.svg" />
							تحميل
						</button>
					</td>
				</tr>

				@* <tr>
					<td>نتائج استشارة ”شمولية الخدمة وتحسين إمكانية الوصول“</td>
					<td>الربع الأول 2025</td>
					<td>
				<button class="pc-outline-btn" onclick="openFile('beneficiary-voice-1-2024.pdf')">
							<img src="~/icons/download.svg" />
							تحميل
						</button>
					</td>
				</tr> *@
            </tbody>
        </table>

		<div class="pc-content-actions">
			<a asp-controller="EParticipation" asp-action="Index" class="pc-outline-btn"> رجوع </a>
		</div>
	</div>
</div>