@{
	ViewData["Title"] = "الاستبيانات الإلكترونية - ";
}

<div class="pc-content-page">
	<div class="pc-content-heading-bg">
	<div class="pc-content-heading">
		<div class="pc-breadcrumbs">
			<ul>
				<li>
					<a asp-controller="Home" asp-action="Index"> الصفحة الرئيسية </a>
				</li>
				<li>></li>
				<li>
					<a asp-controller="EParticipation" asp-action="Index"> المشاركة الإلكترونية </a>
				</li>
				<li>></li>
				<li class="pc-breadcrumbs-current">الاستبيانات الإلكترونية</li>
			</ul>
		</div>

		<div class="pc-content-title">
			<img src="~/icons/palm.svg" alt="palm icon" />
			<h2>الاستبيانات الإلكترونية</h2>
		</div>

		<div class="pc-content-description">
			<p>يُعنى هذا القسم بمشاركة الاستطلاعات والاستبانات المنشورة على منصتي "تفاعل" و"استطلاع"، مما يتيح للمستفيدين فرصة المشاركة بآرائهم واقتراحاتهم لدعم اتخاذ القرار وتحسين الخدمات، بما يسهم في تحقيق مستهدفات رؤية 2030.</p>
		</div>
	</div>
	</div>

	<div class="pc-body">
		<div class="pc-body-section">
			<div class="pc-cards">
				<div class="pc-card">
					<div class="pc-card-icon">
						<img src="~/icons/paper.svg" alt="icon" />
					</div>

					<div class="pc-card-tags">
						<p class="pc-blue-status"><img src="~/icons/messageQuestion.svg"/> استبيان إلكتروني</p>
						<p class="pc-red-status"><img src="~/icons/clock2.svg"> منتهي</p>
					</div>

					<div class="pc-card-content">
						<h6>القناة الإلكترونية الأكثر فعالية للتواصل مع المستفيدين</h6>
					</div>

					<div class="pc-card-date">
						<img src="~/icons/calender.svg" alt="calender" aria-label="calender" />
						<p>4/2/2024 - 8/2/2024</p>
					</div>

					<div class="pc-card-btn">
						<button class="pc-primary-btn" disabled><img src="~/icons/arrowRight.svg" width="24" height="24"> شارك</button>
					</div>
				</div>

				<div class="pc-card">
					<div class="pc-card-icon">
						<img src="~/icons/paper.svg" alt="icon" />
					</div>

					<div class="pc-card-tags">
						<p class="pc-blue-status"><img src="~/icons/messageQuestion.svg" /> استبيان إلكتروني</p>
						<p class="pc-red-status"><img src="~/icons/clock2.svg"> منتهي</p>
					</div>

					<div class="pc-card-content">
						<h6>القناة التسويقية الأكثر ملاءمة لكل نوع من المستفيدين</h6>
					</div>

					<div class="pc-card-date">
						<img src="~/icons/calender.svg" alt="calender" aria-label="calender" />
						<p>22/4/2024 - 25/4/2024</p>
					</div>

					<div class="pc-card-btn">
						<button class="pc-primary-btn" disabled><img src="~/icons/arrowRight.svg" width="24" height="24"> شارك</button>
					</div>
				</div>

				<div class="pc-card">
					<div class="pc-card-icon">
						<img src="~/icons/paper.svg" alt="icon" />
					</div>

					<div class="pc-card-tags">
						<p class="pc-blue-status"><img src="~/icons/messageQuestion.svg" /> استبيان إلكتروني</p>
						<p class="pc-green-status"><img src="~/icons/clock1.svg"> ساري</p>
					</div>

					<div class="pc-card-content">
						<h6>قياس وعي المستفيدين بالخدمات الإلكترونية التي تقدمها الإمارة</h6>
					</div>

					<div class="pc-card-date">
						<img src="~/icons/calender.svg" alt="calender" aria-label="calender" />
						<p>11/5/2024</p>
					</div>

					<div class="pc-card-btn">
						<a href="https://survey.zohopublic.sa/zs/RMBdaz" target="_blank" class="pc-primary-btn"><img src="~/icons/arrowRight.svg" width="24" height="24"> شارك</a>
					</div>
				</div>

				<div class="pc-card">
					<div class="pc-card-icon">
						<img src="~/icons/paper.svg" alt="icon" />
					</div>

					<div class="pc-card-tags">
						<p class="pc-blue-status"><img src="~/icons/messageQuestion.svg" /> استبيان إلكتروني</p>
						<p class="pc-red-status"><img src="~/icons/clock2.svg"> منتهي</p>
					</div>

					<div class="pc-card-content">
						<h6>شمولية الخدمة وتحسين إمكانية الوصول</h6>
					</div>

					<div class="pc-card-date">
						<img src="~/icons/calender.svg" alt="calender" aria-label="calender" />
						<p>1/3/2025 - 31/3/2025</p>
					</div>

					<div class="pc-card-btn">
						<button class="pc-primary-btn" disabled><img src="~/icons/arrowRight.svg" width="24" height="24"> شارك</button>
					</div>
				</div>
			</div>
		</div>

		<div class="pc-content-actions">
			<a asp-controller="EParticipation" asp-action="Index" class="pc-outline-btn"> رجوع </a>
		</div>
	</div>
</div>