@{
    ViewData["Title"] = "عن الإمارة - ";
}

<div class="pc-home">
    <div class="pc-about-header">
        <div class="pc-breadcrumbs">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index"> الصفحة الرئيسية </a>
                </li>
                <li>></li>
                <li class="pc-breadcrumbs-current">إمارة منطقة القصيم</li>
            </ul>
        </div>

        <div class="pc-cards-header-title">
            <img src="~/icons/palm.svg" alt="palm" aria-label="palm" width="18.897" height="28.416" />
            <h2>الخدمات الإلكترونية</h2>
        </div>
    </div>

    <div class="pc-content-page">
        <div class="pc-content-body">
            <div>
                <h3>عن الإمارة</h3>
                <p>
                    أنشئت إمارة منطقة القصيم عام 1326هـ أثناء تأسيس المملكة العربية السعودية، وتتبع وزارة الداخلية السعودية، ويقع مقر الإمارة في مدينة بريدة.
                </p>
            </div>

            <div>
                <h3>مهام الإمارة</h3>
                <ul>
                    <li>
                        تمثيل خادم الحرمين الشريفين في المنطقة.
                    </li>

                    <li>
                        التأكد من تحقيق سير العدالة في المنطقة.
                    </li>

                    <li>
                        العمل على حفظ الأمن في المنطقة.
                    </li>

                    <li>
                        العمل على توفير كافة الخدمات لمواطني المنطقة بالتعاون والتنسيق مع الجهات الحكومية والمشاركة في مراحل التخطيط لكافة الخدمات.
                    </li>

                    <li>
                        التأكد من كفاءة وفاعلية الخدمات التي تقدم لمواطني المنطقة، والعمل على تحسين وتطوير تقديم تلك الخدمات.
                    </li>

                    <li>
                        تلقي شكاوى واستدعاءات المواطنين والنظر في أمورهم والعمل على تلبية مطالبهم وحل مشكلاتهم.
                    </li>
                </ul>
            </div>

            <div>
                <h3>أهداف الإمارة</h3>
                <ul>
                    <li>
                        الحفاظ على الأمن والنظام العام.
                    </li>

                    <li>
                        تقديم الخدمات الحكومية للمواطنين.
                    </li>

                    <li>
                        تنفيذ الخطط والبرامج التنموية.
                    </li>

                    <li>
                        تشجيع الاستثمار.
                    </li>

                    <li>
                        حماية البيئة.
                    </li>

                    <li>
                        تعزيز التراث الثقافي.
                    </li>
                </ul>
            </div>

            <div>
                <h3>الأنظمة والسياسات</h3>
                <p>
تخضع إمارة منطقة القصيم لأنظمة وسياسات المملكة العربية السعودية، بما في ذلك:                </p>
                <ul>
                    <li>نظام المناطق.</li>

                    <li>نظام الخدمة المدنية.</li>

                    <li>نظام التعليم.</li>

                    <li>نظام الرعاية الصحية.</li>

                    <li>نظام الأمن العام.</li>
                </ul>
            </div>

            <div>
                <h3>المسمى</h3>
                <p>
                    جاء في لسان العرب ان القصيمة ما سهل من الارض وكثر شجره والقصيمة منبت الغضى والارطى والسلم وهي رمله والقصيم في اشعار المتقدمين مشهور بالذئاب ولعل ذلك لكثرة الاشجار. يقع القصيم في قلب الجزيرة العربية ويميل قليلا إلى الشمال ويدعم هذا ما كان يحفظ به في السابق من مكانه في طرق الحج القديمة والتى رسم معالمها ابان فترة حكم الدولة العباسية وعلى عهد الخليفة العباسي هارون الرشيد وزوجته التى نسب اليها مشروع هذا الطريق درب زبيدة فطرق البصرة والكوفة وبغداد كلها تجتاز منطقة القصيم بل يلتقي اكثرها على ما ورد مياهه ولا يزال القصيم يحتفظ بآثار هذه المعالم.
                </p>
            </div>

            <div>
                <h3>المساحة والمكان</h3>
                <p>
                    منطقة القصيم تبلغ مساحتها لى نحو 73 ألف كلم² بين المنطقتين الوسطى و الشمالية. فيما يبلغ عدد سكانها نحو 1,336,179 نسمة، 677,647 نسمة منهم في مدينة بريدة عاصمة القصيم، بحسب إحصاءات تعداد السعودية 2022م. تتميز بوفرة المياه الجوفية ووجود الواحات الزراعية الغنية التي تمد المملكة و الخليج العربي بأفخر وأجود أنواع التمور و الخضروات والفواكه، ومدينة بريدة هي أكبر مدنها من حيث المساحة و عدد السكان وفيها مقر الامارة.​​
                </p>
            </div>

            <div>
                <h3>المحافظات</h3>
                <p>تتبع إمارة المنطقة 13 محافظة، وبحسب نظام المناطق الصادر في عام 1412هـ/1992م، والمعدل بأمر ملكي في عام 1414هـ، تتكون كل إمارة من عدد من المحافظات، تنقسم إلى فئتين: (أ) و(ب)، إضافة إلى عدد من المراكز، ورُوعيت عند هذا التقسيم الأوضاع السكنية والجغرافية والأمنية وطرق المواصلات وظروف البيئة والمكانة التاريخية لكل محافظة.
تضم إمارة منطقة القصيم مدينة بريدة مقر الإمارة، إلى جانب خمس محافظات فئة " أ " هي: عنيزة، والرس، والمذنب، والبكيرية، والبدائع، فيما تضم فئة "ب" ثماني محافظات، هي: الأسياح، والنبهانية، والشماسية، وعيون الجواء، ورياض الخبراء، وضرية، وعقلة الصقور، وأبانات وتضم مجتمعة 152 مركزًا إداريًا.</p>
            </div>

            <div class="governorates">
                <div class="governorate">
					<img src="~/images/buraydah.png" />
					<div class="governorate-name">
						<h3>مدينة بريدة</h3>
					</div>
				</div>

                <div class=governorate>
					<img src="~/images/unaizah.png" />
					<div class="governorate-name">
						<h3>محافظة عنيزة</h3>
					</div>
				</div>

                <div class=governorate>
					<img src="~/images/alrass.png" />
					<div class="governorate-name">
						<h3>محافظة الرس</h3>
					</div>
				</div>

                <div class=governorate>
					<img src="~/images/muthnab.png" />
					<div class="governorate-name">
						<h3>محافظة المذنب</h3>
					</div>
				</div>

                <div class=governorate>
					<img src="~/images/albukayriyah.png" />
					<div class="governorate-name">
						<h3>محافظة البكيرية</h3>
					</div>
				</div>

                <div class=governorate>
					<img src="~/images/asyah.png" />
					<div class="governorate-name">
						<h3>محافظة البدائع</h3>
					</div>
				</div>

                <div class=governorate>
					<img src="~/images/buraydah.png" />
					<div class="governorate-name">
						<h3>محافظة الأسياح</h3>
					</div>
				</div>

                 <div class=governorate>
					<img src="~/images/nabhaniya.png" />
					<div class="governorate-name">
						<h3>محافظة النبهانية</h3>
					</div>
				</div>

                <div class=governorate>
					<img src="~/images/uyon aljiwa.png" />
					<div class="governorate-name">
						<h3>محافظة عيون الجواء</h3>
					</div>
				</div>

                <div class=governorate>
					<img src="~/images/riyadh alkhabraa.png" />
					<div class="governorate-name">
						<h3>محافظة رياض الخبراء</h3>
					</div>
				</div>

                <div class=governorate>
					<img src="~/images/shmasiyah.png" />
					<div class="governorate-name">
						<h3>محافظة الشماسية</h3>
					</div>
				</div>

                <div class=governorate>
					<img src="~/images/uqlat alsuqur.png" />
					<div class="governorate-name">
						<h3>محافظة عقلة الصقور</h3>
					</div>
				</div>

                <div class=governorate>
					<img src="~/images/darayyah.png" />
					<div class="governorate-name">
						<h3>محافظة ضرية</h3>
					</div>
				</div>

                <div class=governorate>
					<img src="~/images/abanat.png" />
					<div class="governorate-name">
						<h3>محافظة أبانات</h3>
					</div>
				</div>
            </div>

            <div class="pc-content-actions">
                <a asp-controller="Home" asp-action="Index" class="pc-outline-btn"> رجوع </a>
            </div>
        </div>
    </div>

    <div class="pc-page-feedback">
        <div>
            <div class="pc-page-feedback-section">
                <p>هل كانت هذه الصفحة مفيدة؟</p>
                <div class="pc-page-feedback-btns">
                    <button class="pc-primary-btn">نعم</button>
                    <button class="pc-primary-btn">لا</button>
                </div>
            </div>
            @* <div class="pc-page-feedback-response">
            <img src="~/icons/checkmarkCircle.svg"/>
            <p>تم إرسال ردك بنجاح</p>
            </div> *@
        </div>
        <div class="pc-page-feedback-section">
            <p class="pc-page-feedback-result">x% من المستخدمين قالوا نعم من x تقييماً</p>
        </div>
    </div>
</div>
