.breadcrumb {
    --bs-breadcrumb-item-color: var(--color-primary);
    --bs-breadcrumb-item-active-color: var(--color-primary);
    --bs-breadcrumb-font-size: 0.875rem;
    margin-top: 1.5rem;

    .breadcrumb-item {
        font-weight: var(--font-semi-bold);
        a {
            transition: all .3s;
            text-decoration: none;
            font-size: var(--bs-breadcrumb-font-size);
            font-weight: var(--font-regular);
            color: var(--bs-breadcrumb-item-color);
        }

        &:hover a {
            color: var(--color-secondary);
        }

        &+.breadcrumb-item {
            &::before {
                content: "<";
                color: var(--bs-breadcrumb-item-active-color);
                font-weight: var(--font-semi-bold);

                [dir="rtl"] & {
                    content: ">";
                    float: right;
                    padding-right: 0;
                    padding-left: var(--bs-breadcrumb-item-padding-x);
                }
            }

            [dir="rtl"] & {
                padding-left: 0;
                padding-right: var(--bs-breadcrumb-item-padding-x);
            }
        }
    }
}