.btn {
    --bs-btn-padding-y: var(--space-sm);
    --bs-btn-padding-x: var(--space-base);
    --bs-btn-font-weight: var(--font-regular);
    --bs-btn-border-width: 1px;
    --bs-btn-font-size: var(--font-size-base);
    --bs-btn-hover-border-color: var(--color-primary-100);


    display: inline-flex;
    gap: var(--space-sm);
    align-items: center;
    border-radius: .5em;

    svg {
        --icon-color: var(--bs-btn-color);
        fill: var(--bs-btn-color);
    }

    &-sm {
        --bs-btn-padding-y: 0.25rem;
        --bs-btn-padding-x: 0.75rem;
        --bs-btn-font-size: 0.875rem;
        --bs-btn-border-width: 1px;
    }

    &-lg {
        --bs-btn-padding-y: var(--space-sm);
        --bs-btn-padding-x: var(--space-md);
        --bs-btn-font-size: var(--font-size-md);
    }

}

.btn-outline-primary {
    --bs-btn-color: var(--color-primary-90);
    --bs-btn-border-color: var(--color-primary-90);
    --bs-btn-hover-color: var(--color-complement-90);
    --bs-btn-active-bg: var(--color-primary-100);
    --bs-btn-hover-bg: transparent;
    --bs-btn-active-border-color: var(--color-primary-100);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color-primary-90);
    --bs-btn-border-color: var(--color-primary-90);
    --bs-btn-hover-bg: var(--color-primary-100);
    --bs-btn-hover-border-color: var(--color-primary-100);
}