.nav-bar {
    --menu-link-font-size: 22px;
    --menu-link-color: var(--color-primary);
    --menu-link-hover: var(--color-complement-90);
    --menu-link-padding: var(--space-sm);

    display: flex;
    gap: var(--space-base);
    justify-content: center;
}

.nav-bar__menu {
    font-size: var(--menu-link-font-size);
    color: var(--menu-link-color);
    padding: var(--menu-link-padding);
    text-decoration: none;
    transition: color .3s ease-in-out;
    cursor: pointer;

    &:hover {
        color: var(--menu-link-hover);
    }
}