.services-list{
    .row{
        --bs-gutter-x: var(--space-lg);
        --bs-gutter-y: var(--space-lg);
    }
}

.services-card{
    --icon-width: 70px;
    --icon-height: 70px;
    --title-font-size: var(--font-size-md);

    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 1em;
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    align-items: center;
    box-shadow: var(--shadow-base);
    text-decoration: none;
    color: var(--color-primary);
    transition: all .3s ease-in-out;
    &:not(.service-card--empty):not(.services-card--subcategory):hover{
        color: var(--color-secondary);
        background-color: rgba(map-get($colors, "primary"), .15);
    }
}
.service-card--empty{
    --icon-width: 160px;
    --icon-height: auto;
    --title-font-size: var(--font-size-h2);
    gap: 0;
}
.service-card__title{
    text-align: center;
    font-size: var(--title-font-size);
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}
.service-card__icon{
    fill: var(--color-secondary);
    svg{
        width: var(--icon-width);
        height: var(--icon-height);
    }
} 

.services-card-wrapper{
    display: flex;
    &--hidden{
        display: none;
    }
}
.service-list-empty{
    display: none;
    &--shown{
        display: flex;
    }
}
.services-card--subcategory{
    .service-card__title{
        align-items: flex-start;
        text-align: start;
        &:before{
            content: "";
            width: 12px;
            height: 12px;
            flex: 12px 0 0;
            margin-top: 13px;
            background-color: var(--color-primary);
            transform: rotate(45deg);
        }
    }
}
.service-card__actions{
    margin-inline-start: auto;
    margin-top: auto;
    padding-top: var(--space-md);
}

%service-panel{
    background-color: var(--color-white);
    padding: var(--space-md);
    border-radius: 0.8em;
    box-shadow: var(--shadow-md);
}

.service-header{
    @extend %service-panel;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--shadow-base);
}
.service-header__title{
    @extend .h4;
    color: var(--color-primary);
}
.service-details{
    margin-top: var(--space-base);
}
.service-tabs-wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--space-base);
}

.service-tabs{
    --bs-nav-pills-border-radius: 0;
    --bs-nav-pills-link-active-color: var(--color-primary);
    --bs-nav-pills-link-active-bg: var(--color-complement-60);
    --bs-nav-link-padding-y: var(--space-md);
    --bs-nav-link-padding-x: var(--space-base);
    --bs-nav-link-color: var(--color-primary);
    --bs-nav-link-hover-color: var(--color-primary-100);
    --bs-nav-link-font-size: var(--font-size-md);
    --tab-border-color: transparent;
    
    @extend %service-panel;
    box-shadow: none;
    padding: 0;
    overflow: hidden;
    border: 1px solid var(--color-complement-60);

    .service-tabs__link{
        width: 100%;
        border-bottom: 3px solid var(--tab-border-color);
        &.active{
            --tab-border-color: var(--color-primary);
        }
    }
}

.service-tabs__item {
    flex: calc(100% / 3);
}

.service-tabs-content{
    @extend %service-panel;
    box-shadow: none;
    border: 1px solid var(--color-complement-60);
}

.service-tabs-content{
    ol.active, ol, ul{
        --li-content: "";
        --li-bullet-size: 12px;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
        li{
            display: flex;
            align-items: center;
            gap: var(--space-sm);
            counter-increment: ol-counter;
            &:before {
                content: var(--li-content);
                display: flex;
                align-items: center;
                justify-content: center;
                width: var(--li-bullet-size);
                height: var(--li-bullet-size);
                flex: 0 0 var(--li-bullet-size);
                border-radius: 50%;
                color: var(--color-white);
                background-color: var(--color-primary-80);
            } 
        }
    }
    ol, ol.active{
        --li-content: counter(ol-counter);
        --li-bullet-size: 24px;
    }
}

.service-details__meta{
    @extend %service-panel;
    color: var(--color-dark-grey);
}

.service-details__meta-setions{
    display: flex;
    flex-direction: column;
    gap: var(--space-base);
    + .service-details__meta-setions{
        margin-top: var(--space-md);
        &::before{
            content: "";
            height: 1px;
            background: #DCDBE1;
        }
    }
}
.service-details__meta-title{
    @extend .h5;
    text-align: center;
    color: var(--color-primary);
}
.service-details__audience{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    > *{
        display: flex;
        gap: var(--space-xs);
        position: relative;

        &:before{
            content: '';
            width: 24px;
            height: 24px;
            background: #93aea3;
            border-radius: 50%;
            color: #295F48;
        }
        &:after{
            content: "";
            position: absolute;
            top: 4px;
            right: 9px;
            width: 6px;
            height: 12px;
            border: solid #295F48;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}
.service-details__rating-row {
    max-width: 70%;
    margin: auto;
    display: flex;
    gap: var(--space-sm);
    color: var(--color-primary);
    font-weight: var(--font-medium);
}

.service-details__rating-stars {
    display: flex;
    justify-content: center;
}