
@{
    ViewData["Title"] = "تسجيل الدخول";
}

<div class="row justify-content-xxl-center">
    <div class="col-xxl-8">
        <div class="page-panel">
            <h3 class="page-title margin-bottom-lg">تسجيل الدخول لبوابة الإمارة</h3>
            <div class="row justify-content-xxl-center">
                <div class="col-xxl-6 d-flex flex-column gap-4">
                    <a class="btn btn-primary d-flex justify-content-center padding-base w-100" href="~/Account/Login">دخول مسؤولي الإمارة</a>
                    <a class="btn btn-outline-primary d-flex justify-content-center padding-base w-100" href="~/Account/NafathLogin">دخول أفراد باستخدام نفاذ</a>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

