@using QassimPrincipality.Web.ViewModels.Account

@model LoginVM;

@{ 
    ViewData["Title"] = "تسجيل الدخول";
}
<div class="account-login">
    <div class="row justify-content-xxl-center">
        <div class="col-xxl-8">
            <div class="page-panel">
                <h3 class="page-title margin-bottom-lg">تسجيل مسؤلي الإمارة</h3>
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">
                        <span><b>ناسف !</b> - @TempData["Error"] </span>
                    </div>
                }
                <form asp-action="Login" class="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="EmailAddress" class="form-label"> البريد الإلكتروني</label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="form-label"> كلمة المرور</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <input class="btn btn-primary" type="submit" value="تسجيل الدخول" />
                        <a class="btn btn-outline-primary" asp-controller="Movies" asp-action="Index">الغاء</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>