@using Framework.Identity.Data.Dtos
@model List<UserDto>

<div class="row justify-content-xxl-center">
    <div class="col-xxl-10">
        <div class="page-panel">
            <h3 class="page-title margin-bottom-lg">Members</h3>

            @if (0 >= Model.Count)
            {
                <div class="alert alert-warning" role="alert">
                    Users Not Found!
                </div>
            }
            else
            {
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Roles</th>
                            <th scope="col">Process</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>

                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>
                                    <user-roles user-id="@user.Id"></user-roles>
                                </td>
                                <td>
                                    <a class="btn btn-success btn-sm"
                                       asp-controller="Roles" asp-action="Assign" asp-route-userId="@user.Id">تعيين صلاحية</a>

                                    <a class="btn btn-info btn-sm"
                                       asp-controller="Account" asp-action="Register">انشاء مستخدم</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>