@using Framework.Identity.Data.Dtos
@model UserDto

@{
    ViewData["Title"] = "الملف الشخصي";
}
<div class="row justify-content-xxl-center">
    <div class="col-xxl-8">
        <div class="page-panel" id="elementToToggle">
            <h3 class="page-title margin-bottom-lg"> بياناتي </h3>
            <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-2">
                    <label class="color-primary font-bold">User Name</label>
                    <span>@Model.UserName</span>
                </div>
                <div class="d-flex gap-2">
                    <label class="color-primary font-bold">E-Mail</label>
                    <span>@Model.Email</span>
                </div>
                <div class="d-flex gap-2">
                    <label class="color-primary font-bold">Phone Number</label>
                    <span>@Model.PhoneNumber</span>
                </div>
            </div>
        </div>
    </div>
</div>
