doctype html
html(lang='ar', dir='rtl')
  block vars
    - var pageTitle = "إمازة منطقة القصيم | الصفحة الرئيسية"
    - var languageLinks = '/index-en.html'
    - var indexpageLink = '/'
    - var lang = 'English'
  include ./partials/_head

  body
    include ./partials/_top-bar
    include ./partials/_header
    main.page-layout
      .container
        .services-list
          .row
            .col-xxl-3
              a.services-card(href="#")
                .service-card__icon 
                  svg(width="24" height="24")
                    use(xlink:href="./assets/images/svg-icons.svg#service-icon") 
                .service-card__title خدمات الاستلام عن معاملة

        .row.justify-content-xxl-center
          .col-xxl-10
            .page-panel
              h3.page-title.margin-bottom-lg الخدمات الإلكترونية
              .form
                .row
                  .col-xl-6
                    .form-group
                      label.form-label رقم الهوية الوطنية / الإقامة
                      input.form-control(type="text" placeholder="رقم الهوية الوطنية / الإقامة")
                  .col-xl-6
                    .form-group
                      label.form-label كلمة المرور
                      input.form-control(type="text" placeholder="كلمة المرور")
                  .col-xl-6
                    .form-group
                      label.form-label كلمة المرور
                      input.form-control(type="text" placeholder="كلمة المرور")
                  .col-xl-6
                    .form-group
                      label.form-label كلمة المرور
                      input.form-control(type="file" placeholder="كلمة المرور")
                  .col-xl-6
                    button.btn.btn-primary دخول

    include ./partials/_footer