doctype html
html(lang='en', dir='ltr')
  block vars
    - var pageTitle = "Al Qassim | Home Page"
    - var languageLinks = '/index.html'
    - var indexpageLink = '/index-en.html'
    - var lang = 'العربية'
  include ./partials/_head

  body
    include ./partials/_top-bar
    include ./partials/_header
    .container
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita aut obcaecati nemo cum natus, omnis necessitatibus iure voluptatum ex in. Adipisci, numquam ut? Rem quam, fugit eveniet modi ex voluptatem.
    include ./partials/_footer